@import "tailwindcss";

@layer base {
  :root {
    --radius: 0.5rem;
    --main-bg: #efefef;
    --accent-bg: #e7eeffbf;
    --main-text: #7c829a;
    --violet-light: #8e51ff;
    --gray: #a5a5a5;
    --light-gray: #949596;
    --dark-gray: #2e2e2e;
  }
}
