@import "tailwindcss";

@layer base {
  :root {
    --radius: 0.5rem;
    --main-bg: #efefef;
    --accent-bg: #b0c6ffbf;
    --main-text: #3d52a0;
    --violet-light: #8e51ff;
    --gray: #8697c4;
    --light-gray: #ccd4e7;
    --dark-gray: #2e2e2e;
  }
}
